@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@300;400&display=swap");
html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  box-sizing: border-box;
}
* a {
  color: inherit;
  text-decoration: none;
}
* li {
  list-style: none;
}

body {
  font-family: "Roboto", sans-serif;
  color: #fff;
  font-size: 18px;
}

.responsive_img {
  max-width: 100%;
}

.container {
  max-width: 76%;
  margin: auto;
}

input::-moz-placeholder {
  color: #fff;
}

input:-ms-input-placeholder {
  color: #fff;
}

input::placeholder {
  color: #fff;
}

@media (prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}
@media screen and (max-width: 1320px) {
  .menu_list {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  body {
    font-size: 14px;
  }
}
header {
  background-color: rgb(197, 193, 193);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

.nav_scrolled {
  background-color: #fff;
  color: #183c68;
}

.header_container {
  max-width: 95%;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: flex;
  gap: 2rem;
}

.menu_list {
  transition: 0.5s;
}

.menu:hover > .menu_list {
  opacity: 0.3;
}

.menu:hover > .menu_list:hover {
  opacity: 1;
}

.button {
  background-color: #4dd7c4;
  color: #fff;
  padding: 0.8rem 2rem;
  border-radius: 0.8em;
  transition: 0.5s;
}

.button:hover {
  background-color: #3fb2ab;
}

#home {
  background-color: rgb(197, 193, 193);
  min-height: 36.7em;
  min-width: 100%;
  border-bottom-left-radius: 4em;
  border-bottom-right-radius: 4em;
  margin-top: 3.4em;
}

.home_container {
  max-width: 30em;
  padding-top: 4em;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

.home_title {
  font-size: 2.5em;
  font-weight: bold;
}

#about {
  color: #000;
  min-height: 35em;
}

.block_title {
  font-weight: bold;
  font-size: 2.2em;
  margin-top: 2.5em;
  padding: 0.4em;
}

.block_content,
.block_title {
  text-align: center;
}

.about_image {
  height: 12em;
  width: 14em;
}

.cards {
  display: flex;
  justify-content: space-between;
  gap: 2em;
  margin-top: 4em;
  flex-wrap: wrap;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 22em;
  align-items: center;
  max-width: 20em;
  margin-inline: auto;
}

.card_title {
  font-size: 1.8em;
}

.custom_card_title {
  margin-top: 0;
}

.card_button {
  margin-top: 2em;
}

.about_2 {
  margin-top: 9em;
  display: flex;
  justify-content: space-between;
  gap: 1em;
  flex-wrap: wrap;
}

.about_block_2 {
  gap: 2.5em;
  margin-inline: auto;
}

.about_dashboard {
  margin-inline: auto;
}

.cut_image {
  border-radius: 0.8em;
}

.cut_image_left {
  border-top-left-radius: 0.8em;
  border-bottom-left-radius: 0.8em;
}

.about_block {
  display: flex;
  flex-direction: column;
}

.about_card {
  display: flex;
  align-items: center;
  gap: 2em;
  max-width: 30em;
}

.card_typo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.fas {
  width: 3em;
  height: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fas::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  padding: 0.4em;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  color: #4dd7c4;
  -webkit-font-smoothing: antialised;
  font-size: 2.3em;
  background-color: #f2f6fc;
  border-radius: 100%;
}

.fab::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  color: #4dd7c4;
  -webkit-font-smoothing: antialised;
  font-size: 2em;
}

.about_3 {
  margin-top: 5em;
  display: flex;
  gap: 2em;
  background-color: #f2f6fc;
  border-radius: 0.8em;
  align-items: center;
  flex-wrap: wrap;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
}

.about_video {
  margin-inline: auto;
}

.about_block_3 {
  padding: 1em 1em 1em 0;
  gap: 1.5em;
  max-width: 30em;
  margin-inline: auto;
}

.about_wrap {
  padding: 3em 0;
}

.about_block_title {
  font-size: 1.6em;
}

#price {
  color: #000;
}

.price_cards {
  display: flex;
  justify-content: space-between;
  margin: 4em 0;
  gap: 1em;
  flex-wrap: wrap;
}

.price_card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 1.4em;
  gap: 2em;
  align-items: center;
  padding: 3em 1.5em;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: 0.5s;
  border-bottom: 0.2em solid rgba(0, 0, 0, 0);
  margin-inline: auto;
}

.price_card:hover {
  border-bottom: 0.2em solid #3fb2ab;
}

.price_list {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.price_list li {
  position: relative;
}
.price_list li:before {
  content: "";
  width: 2em;
  height: 2em;
  position: absolute;
  background: url(images/галочка2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  left: -2em;
  top: -0.5em;
  z-index: -1;
}

.price_1 .button {
  color: #4dd7c4;
  background-color: #fff;
  border: 0.1em solid #4dd7c4;
  transition: 0.5s ease;
}
.price_1 .button:hover {
  color: #fff;
  background-color: #4dd7c4;
}

.price_3 .button {
  color: #4dd7c4;
  background-color: #fff;
  border: 0.1em solid #4dd7c4;
  transition: 0.5s ease;
}
.price_3 .button:hover {
  color: #fff;
  background-color: #4dd7c4;
}

.price_list_custom {
  font-weight: bold;
}

.price_card_title {
  font-weight: 600;
}

.price {
  font-weight: 500;
  font-size: 4em;
}
.price p {
  font-size: 0.25em;
  color: rgb(126, 126, 126);
  text-align: center;
}

.faq {
  padding: 5em 0 3em 0;
  display: flex;
  gap: 1.8em;
  flex-wrap: wrap;
}

.faq_dashboard {
  margin-inline: auto;
}

.question_tabs {
  display: flex;
  flex-direction: column;
  gap: -7.5em;
  width: 100%;
  max-width: 28em;
  margin-inline: auto;
}

.questions {
  display: flex;
  flex-direction: column;
}

.contentBx {
  cursor: pointer;
  transition: 0.5s;
}

.questions .contentBx .label {
  cursor: pointer;
  border-bottom: 0.1em solid rgba(163, 163, 163, 0.303);
  padding: 1em 0;
}

.questions .contentBx.active .label {
  border-bottom: 0.1em solid #4dd7c4;
}

.questions .contentBx .content {
  background: #fff;
  height: 0;
  overflow: hidden;
  transition: 0.5s;
  overflow-y: hidden;
}

.questions .contentBx.active .content {
  height: 8em;
  padding: 10px 0;
}

#clients_1 {
  background-color: #4dd7c4;
}

.our_achievements {
  padding: 0.3em 0;
  color: #fff;
}

.clients_slider {
  margin-top: 3em;
  max-width: 98%;
  margin-inline: auto;
  padding-bottom: 7em;
}

.slider_items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5em;
  overflow: hidden;
}

.slider_item {
  border: 0.5em solid #fff;
  border-radius: 0.3em;
}

.slider_item img {
  width: 18.5em;
  height: 26em;
  display: block;
  -o-object-position: center;
     object-position: center;
}

#clients_3 {
  background-color: #4dd7c4;
  padding: 6em 0;
}

.check_list {
  height: 4em;
  align-items: center;
  display: flex;
  justify-content: space-between;
  border: 0.1em solid #ffffff;
  border-radius: 0.3em;
  max-width: 30em;
  margin-inline: auto;
  padding: 0;
}

.check_list_button {
  text-transform: uppercase;
  color: #4dd7c4;
  background-color: #ffffff;
  min-height: 4em;
  width: 35%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-right-radius: 0.3em;
  border-bottom-right-radius: 0.3em;
}

.check_list_input {
  background-color: inherit;
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  padding-inline: 1.5em;
}/*# sourceMappingURL=main.css.map */