@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@300;400&display=swap");
html {
  scroll-behavior: smooth;
}

*::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  box-sizing: border-box;
}
* a {
  color: inherit;
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
  color: #fff;
  font-size: 18px;
}
body.lock {
  overflow: hidden;
}

.responsive_img {
  max-width: 100%;
}

.container {
  max-width: 76%;
  margin: auto;
}

input,
textarea {
  outline: none;
  border: 1px solid #ccc;
  padding: 0.8em;
}

input::-moz-placeholder {
  color: #ccc;
}

input:-ms-input-placeholder {
  color: #ccc;
}

input::placeholder {
  color: #ccc;
}

.block_title {
  font-weight: bold;
  font-size: 1.6em;
  margin-top: 2.5em;
  padding: 0.4em;
}

.block_content,
.block_title {
  text-align: center;
}

.mov, .movL, .mov_card, .mov_light {
  visibility: hidden;
}

textarea::-moz-placeholder {
  color: #ccc;
}

textarea:-ms-input-placeholder {
  color: #ccc;
}

textarea::placeholder {
  color: #ccc;
}

hr {
  border: 0.1px solid rgba(224, 224, 224, 0.384);
}

@media (max-width: 768px) {
  .logo {
    height: 35px;
    width: 150px;
  }
}

@media (max-width: 1450px) {
  body {
    font-size: 14px;
  }
  .dashboard {
    width: 380px;
  }
}
@media (max-width: 1240px) {
  body {
    font-size: 13px;
  }
}
.arrow_up {
  position: fixed;
  bottom: 30px;
  right: 5px;
  padding: 5px 14px;
  font-size: 2.5em;
  border-radius: 100%;
  background-color: #183c68;
  cursor: pointer;
  z-index: 999;
}

header {
  color: #000;
  background-color: rgb(255, 255, 255);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 4em;
  z-index: 999;
}
@media (max-width: 768px) {
  header {
    padding-top: 0.5em;
  }
}

.nav_scrolled {
  background-color: #fff;
  color: #183c68;
}

.header_container {
  max-width: 95%;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: flex;
  gap: 1.2rem;
}
.menu li {
  list-style: none;
}
@media (max-width: 1440px) {
  .menu {
    flex-direction: column;
    padding: 30px;
    gap: 0;
    margin: auto;
  }
}

.menu_list {
  transition: 0.5s;
}
@media (max-width: 1440px) {
  .menu_list {
    display: block;
    font-size: 30px;
    line-height: 70px;
  }
}

.menu:hover > .menu_list {
  opacity: 0.3;
}

.menu:hover > .menu_list:hover {
  opacity: 1;
}

@media (max-width: 1440px) {
  .menu__body {
    position: absolute;
    top: 0em;
    left: -100%;
    height: 102vh;
    width: 100%;
    background-color: #4dd7c4;
    display: flex;
    transition: all 0.2s;
    overflow: auto;
  }
}
.menu__body.active {
  left: 0;
}

@media (max-width: 1440px) {
  .burger_menu {
    display: block;
    right: 0;
    width: 30px;
    height: 18px;
    position: relative;
    z-index: 5;
    cursor: pointer;
  }
  .burger_menu span {
    position: absolute;
    top: calc(50% - 1px);
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #000;
    transition: all ease 0.2s;
  }
  .burger_menu span:first-child {
    top: 0;
  }
  .burger_menu span:last-child {
    top: auto;
    bottom: 0;
  }
  .burger_menu.scrolled_menu span {
    background-color: #183c68;
  }
  .burger_menu.active span {
    transform: scale(0);
  }
  .burger_menu.active span:first-child {
    transform: rotate(-45deg);
    top: calc(50% - 1px);
  }
  .burger_menu.active span:last-child {
    transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }
}

.button {
  background-color: #4dd7c4;
  color: #fff;
  padding: 0.8rem 2rem;
  border-radius: 0.8em;
  transition: 0.5s;
  cursor: pointer;
}

.button:hover {
  background-color: #3fb2ab;
}

#home {
  color: #000;
  background-color: rgb(255, 255, 255);
  min-height: 500px;
  min-width: 100%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-bottom-left-radius: 4em;
  border-bottom-right-radius: 4em;
  margin-top: 3.4em;
}

.home_container {
  padding-top: 4em;
  display: flex;
  gap: 1.5em;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin-inline: auto;
}

@media (max-width: 1480px) {
  .home__video {
    width: 350px;
    height: 270px;
  }
}
@media (max-width: 1215px) {
  .home__video {
    width: 300px;
    height: 250px;
  }
}
@media (max-width: 1145px) {
  .home__video {
    width: 270px;
    height: 145px;
  }
}

.home__left {
  max-width: 30em;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  margin-inline: auto;
}

.home__right {
  margin-inline: auto;
}

.home_title {
  font-size: 2.5em;
  font-weight: bold;
}

#about {
  margin-top: 7em;
  color: #000;
  min-height: 35em;
}

.about_image {
  height: 12em;
  width: 14em;
}

.cards {
  display: flex;
  justify-content: space-between;
  gap: 2em;
  margin-top: 4em;
  flex-wrap: wrap;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 22em;
  align-items: center;
  max-width: 18em;
  margin-inline: auto;
}

.card_title {
  font-size: 1.8em;
}

.custom_card_title {
  margin-top: 0;
}

.card_button {
  margin-top: 2em;
}

.about_2 {
  margin-top: 9em;
  display: flex;
  justify-content: space-between;
  gap: 1em;
  flex-wrap: wrap;
}

.about_block_2 {
  gap: 2.5em;
  margin-inline: auto;
}

.about_dashboard_wrap,
.card_wrap {
  margin-inline: auto;
}

.cut_image {
  border-radius: 0.8em;
}

.cut_image_left {
  border-top-left-radius: 0.8em;
  border-bottom-left-radius: 0.8em;
}

.about_block {
  display: flex;
  flex-direction: column;
}

.about_card {
  display: flex;
  align-items: center;
  gap: 2em;
  max-width: 30em;
}

.card_typo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.fas::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  padding: 0.4em;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  color: #4dd7c4;
  -webkit-font-smoothing: antialised;
  font-size: 2.3em;
  background-color: #f2f6fc;
  border-radius: 100%;
}

.custom_icon {
  font-weight: 900;
  font-size: 2.5em;
  color: #4dd7c4;
}

.fab {
  font-weight: 900;
  font-size: 2.5em;
  color: #4dd7c4;
}

.fab::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  color: #4dd7c4;
  -webkit-font-smoothing: antialised;
  font-size: 2em;
}

.fa-network-wired {
  max-width: 4em;
}

.about_3 {
  margin-top: 5em;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-inline: auto;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
}

.about_video {
  margin-inline: auto;
}

.about_video img {
  display: block;
}

.about_block_3 {
  padding: 2.2em;
  gap: 2em;
  background-color: #f2f6fc;
  max-width: 30em;
  margin-inline: auto;
  border-top-right-radius: 0.8em;
  border-bottom-right-radius: 0.8em;
}

.about_wrap {
  padding: 3em 0;
}

.about_block_title {
  font-size: 1.6em;
}

#price {
  color: #000;
}

.price_cards {
  display: flex;
  justify-content: space-between;
  margin: 4em 0;
  gap: 1em;
  flex-wrap: wrap;
}

.price_card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 1.4em;
  gap: 2em;
  align-items: center;
  padding: 3em 1.5em;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: 0.5s;
  border-bottom: 0.2em solid rgba(0, 0, 0, 0);
  margin-inline: auto;
}
.price_card li {
  list-style: none;
}

.price_card:hover {
  border-bottom: 0.2em solid #3fb2ab;
}

.price_list {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.price_list li {
  position: relative;
}
.price_list li:before {
  content: "";
  width: 2em;
  height: 2em;
  position: absolute;
  background: url(images/галочка2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  left: -2em;
  top: -0.5em;
  z-index: -1;
}

.price_1 .button {
  color: #4dd7c4;
  background-color: #fff;
  border: 0.1em solid #4dd7c4;
  transition: 0.5s ease;
}
.price_1 .button:hover {
  color: #fff;
  background-color: #4dd7c4;
}

.price_3 .button {
  color: #4dd7c4;
  background-color: #fff;
  border: 0.1em solid #4dd7c4;
  transition: 0.5s ease;
}
.price_3 .button:hover {
  color: #fff;
  background-color: #4dd7c4;
}

.price_list_custom {
  font-weight: bold;
}

.price_card_title {
  font-weight: 600;
}

.price {
  font-weight: 500;
  font-size: 4em;
}
.price p {
  font-size: 0.25em;
  color: rgb(126, 126, 126);
  text-align: center;
}

.faq {
  padding: 5em 0 3em 0;
  display: flex;
  gap: 1.8em;
  flex-wrap: wrap;
}

.faq_dashboard {
  margin-inline: auto;
}

.question_tabs {
  display: flex;
  flex-direction: column;
  gap: -7.5em;
  width: 100%;
  max-width: 28em;
  margin-inline: auto;
}

.questions {
  display: flex;
  flex-direction: column;
}

.contentBx {
  cursor: pointer;
  transition: 0.5s;
}

.questions .contentBx .label {
  cursor: pointer;
  border-bottom: 0.1em solid rgba(163, 163, 163, 0.303);
  padding: 1em 0;
}

.questions .contentBx.active .label {
  border-bottom: 0.1em solid #4dd7c4;
}

.questions .contentBx .content {
  background: #fff;
  height: 0;
  overflow: hidden;
  transition: 0.5s;
  overflow-y: hidden;
}

.questions .contentBx.active .content {
  height: 10.2em;
  padding: 10px 0;
}

#clients_1 {
  background-color: #4dd7c4;
}
#clients_1 li {
  list-style: none;
}

.our_achievements {
  padding: 0.3em 0;
  color: #fff;
}

.clients_slider {
  margin-top: 3em;
  max-width: 98%;
  margin-inline: auto;
  padding-bottom: 7em;
}

.carousel {
  position: relative;
  min-height: 24em;
}

.slide {
  position: absolute;
  display: flex;
  inset: 0;
  opacity: 0;
  align-items: center;
  justify-content: space-between;
}

.carousel_btn {
  position: absolute;
  background: none;
  border: none;
  font-size: 3rem;
  top: 50%;
  z-index: 2;
  transform: translateY(-50%);
  color: rgba(255, 255, 255, 0.5333333333);
  cursor: pointer;
  border-radius: 0.25rem;
  padding: 0 0.5rem;
}

.carousel_btn:hover,
.carousel_btn:focus {
  color: #ffffff;
}

.carousel_btn.prev {
  left: 1em;
}

.carousel_btn.next {
  right: 1em;
}

.slide[data-active] {
  opacity: 1;
}

.slide_item {
  border: 0.3em solid white;
  border-radius: 0.4em;
}

.slide_item > img {
  display: block;
  max-width: 100%;
  max-height: 26em;
  -o-object-fit: contain;
     object-fit: contain;
}

#clients_3 {
  background-color: #4dd7c4;
  padding: 6em 0;
}

.check_list {
  height: 4em;
  align-items: center;
  display: flex;
  justify-content: space-between;
  max-width: 30em;
  margin-inline: auto;
  padding: 0;
}

.check_list_button {
  font-size: 0.8em;
  text-transform: uppercase;
  color: #4dd7c4;
  background-color: #ffffff;
  min-height: 5em;
  width: 14em;
  padding-inline: 0.8em;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-right-radius: 0.3em;
  border-bottom-right-radius: 0.3em;
  margin-inline: auto;
}

.check_list_input {
  background-color: inherit;
  height: 100%;
  width: 100%;
  max-width: 30em;
  border: none;
  outline: none;
  padding-inline: 1.5em;
  border: 2px solid #ffffff;
  border-top-left-radius: 0.3em;
  border-bottom-left-radius: 0.3em;
  margin-inline: auto;
  font-size: 1em;
}

.check_list_input::-moz-placeholder {
  color: #ffffff;
}

.check_list_input:-ms-input-placeholder {
  color: #ffffff;
}

.check_list_input::placeholder {
  color: #ffffff;
}

#tools {
  color: #000;
}

.tool_cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2em;
  flex-wrap: wrap;
}

.tool_card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  max-width: 20em;
  margin-inline: auto;
}

.tool_card_title {
  color: #183c68;
  font-size: 1.2em;
  font-weight: 600;
}

.tool_card_content {
  text-align: center;
}

.card_fade {
  margin-inline: auto;
}

.card_fade:nth-child(2) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.card_fade:nth-child(3) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.card_fade:nth-child(4) {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

.card_fade:nth-child(5) {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.card_fade:last-child {
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
}

.tools_2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10em;
  flex-wrap: wrap;
  gap: 1em;
}
.tools_2 li {
  list-style: none;
}

.tool_block {
  max-width: 30em;
  margin-inline: auto;
}

.tool_title {
  font-size: 1.5em;
}

.tool_block {
  display: flex;
  flex-direction: column;
  gap: 2em;
}
.tool_block .button {
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
}

.tool_content .price_list {
  margin: 2rem 0 0 1.8rem;
}

#contact {
  color: #000;
  margin: 4em 0 4em 0;
}

.contact_block {
  display: flex;
  justify-content: space-between;
  gap: 2em;
  flex-wrap: wrap;
}

.contact_us {
  display: flex;
  flex-direction: column;
  gap: 2em;
  align-items: flex-start;
  margin-inline: auto;
  width: 27em;
}
.contact_us .button {
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
}
@media (max-width: 965px) {
  .contact_us {
    width: 25em;
  }
}

.contact_input {
  color: #000;
  border-radius: 4px;
  width: 100%;
}

.contact_us > p > .fas {
  color: #4dd7c4;
}

.contact_2 {
  margin-top: 8em;
}

#footer {
  background-color: #4dd7c4;
  padding: 4em 0 4em 0;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.footer_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 15em;
  gap: 1.5em;
  margin-inline: auto;
}
.footer_content p {
  text-align: center;
}

.footer_social {
  width: 10em;
  display: flex;
  justify-content: space-between;
}

.footer_social a {
  transition: 0.5s;
}

.footer_social a:hover {
  opacity: 0.4;
}

.footer_social i {
  font-size: 1.5em;
}

section {
  overflow: hidden;
}/*# sourceMappingURL=main.css.map */